body {
    margin: 0px;
    padding: 0px;
}

.sidebar {
    height: 100%;
    background-color: rgb(75, 75, 75);
    border: 1px;
    border-color: rgb(116, 116, 116);
    font-size: x-large;
}

.sidebar div {
    padding: 5px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebarButton {
    width: 100%;
    height: 50px;
}

.sidebarButton:hover {
    font-size: xx-large;
    height: 50px;
    background-color: #cfe2ff;
}

.sidebarButtonCurrent {
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
}

.sidebarButtonCurrent:hover {
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
}